{#######################################################}
{#                                                     #}
{#   Website Header - Particle for Gantry              #}
{#                                                     #}
{#   Purpose: This project allows to automatically     #}
{#            generate a page header a/o description   #}
{#            from Gantry and Joomla menu data.        #}
{#                                                     #}
{#   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   #}
{#                                                     #}
{#######################################################}

{% extends '@nucleus/partials/particle.html.twig' %}

{% set cAttrs = '' %}
{% if particle.tag.attributes %}
    {% for attr in particle.tag.attributes %}
        {% for key, value in attr %}
            {% set cAttrs = cAttrs ~ ' ' ~ key|e ~ '="' ~ value|e('html_attr') ~ '"' %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if particle.css.class %}
    {% set cClass = ' ' ~ particle.css.class %}
{% else %}
    {% set cClass = '' %}
{% endif %}

{% set mTitle = particle.title.text %}
{% set aTitle = particle.title.automatic %}
{% set fTitle = particle.title.fallback %}
{% set mDesc = particle.description.text %}
{% set aDesc = particle.description.automatic %}
{% set fDesc = particle.description.fallback %}
{% set aItem = joomla.factory('application').getMenu().getActive() %}
{% set menu = gantry.menu.instance(particle) %}

{% if particle.title.tag is empty %}
    {% set toTag = '<h3' %}
    {% set tcTag = '</h3>' %}
{% else %}
    {% set toTag = '<' ~ particle.title.tag %}
    {% set tcTag = '</' ~ particle.title.tag ~ '>' %}
{% endif %}
{% if particle.title.css.class is not empty %}
    {% set toTag = toTag ~ ' class="' ~ particle.title.css.class|e ~ '"' %}
{% endif %}
{% set toTag = toTag ~ '>' %}

{% if particle.description.tag is empty %}
    {% set doTag = '<span' %}
    {% set dcTag = '</span>' %}
{% else %}
    {% set doTag = '<' ~ particle.description.tag %}
    {% set dcTag = '</' ~ particle.description.tag ~ '>' %}
{% endif %}
{% if particle.description.css.class is not empty %}
    {% set doTag = doTag ~ ' class="' ~ particle.description.css.class|e ~ '"' %}
{% endif %}
{% set doTag = doTag ~ '>' %}

{% block particle %}
    <div class="g-website-header{{cClass|e}}"{{cAttrs|raw}}>
        {%- if mTitle or particle.title.icon or aTitle -%}
            {{- toTag|raw -}}
                {%- if particle.title.icon -%}
                    <i class="{{ particle.title.icon|e }}"></i>
                {%- endif -%}
                {%- if aTitle != 'none' and aItem -%}
                    {{- _self.renderOutput(menu, aItem, mTitle, aTitle, fTitle, 1) -}}
                {%- elseif mTitle -%}
                    {{- mTitle|e -}}
                {%- endif -%}
            {{- tcTag|raw -}}
        {%- endif -%}
        {%- if aDesc != 'none' and aItem -%}
            {%- set outDesc = _self.renderOutput(menu, aItem, mDesc, aDesc, fDesc, 1) -%}
            {%- if outDesc -%}
                {{- doTag|raw -}}{{- outDesc -}}{{- dcTag|raw -}}
            {%- endif -%}
        {%- elseif mDesc -%}
            {{- doTag|raw -}}{{ mDesc|e }}{{- dcTag|raw -}}
        {%- endif -%}
    </div>
{% endblock %}
{%- macro renderOutput(menu, aItem, mText, aSel, fSel, level) -%}
    {%- import _self as SELF -%} 
    {%- set output = '' -%}
    {%- if aSel == 'subtitle' -%}
        {%- if menu.items and menu.items|length > 0 -%}
            {%- for item in menu.items -%}
                {%- if item.id == aItem.id and item.subtitle -%}
                    {%- set output = item.subtitle -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endif -%}
    {%- elseif aSel == 'title' -%}
        {%- if aItem.title -%}
            {%- set output = aItem.title -%}
        {%- endif -%}
    {%- elseif aSel == 'manual' -%}
        {%- set output = mText -%}
    {%- else -%}
        {%- if aItem.params[aSel] -%}
            {%- set output = aItem.params[aSel] -%}
        {%- endif -%}
    {%- endif -%}
    {%- if output is empty and fSel != 'none' and level == 1 -%}
        {{- SELF.renderOutput(menu, aItem, mText, fSel, fSel, 2) -}}
    {%- elseif output is not empty -%}
        {{- output|e -}}
    {%- endif -%}
{%- endmacro -%}